<app-lightbox></app-lightbox>

<div class="main-wrapper">

    <div class="content-wrapper">
        <app-header></app-header>
        <div class="card-container">
            <ng-container
                *ngFor="let card of this.api.pokemonOverviewList$ | async; trackBy: trackByFlag; let i = index">
                <app-card (click)="openLightbox(card)" [details]="card" [id]="card.id"
                    *ngIf="card.isReadyToRender && i + 1 <= renderMax && filter == 'all' || this.applyfilter(card.types) && filter != 'all'"></app-card>
            </ng-container>

        </div>
    </div>
</div>